body {
	font-family: RobotoDraft;
	overflow: hidden;
}
*:focus { /* TODO: find a cleaner way to disable blue focus areas on Chrome */
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color: transparent;
}

body, #pageLibrary, #pageAlbum, #pageArtist, #pageNowPlaying {
	background-color: black;
	color: white;
}

core-toolbar {
	background-color: #db6835;
	color: white;
}
paper-tabs::shadow #selectionBar {
	background-color: white;
}

paper-dropdown {
    color: black;
}