body {
	font-family: RobotoDraft;
	overflow: hidden;
}
*:focus { /* TODO: find a cleaner way to disable blue focus areas on Chrome */
	outline: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color: transparent;
}

body, #pageLibrary, #pageAlbum, #pageArtist, #pagePlaying {
	background-color: black;
	color: white;
}

core-toolbar {
	background-color: #db6835;
	color: white;
}
paper-tabs::shadow #selectionBar {
	background-color: white;
}

paper-progress::shadow #progressContainer {
	background-color: transparent;
}
paper-progress::shadow #activeProgress {
	background-color: white;
	opacity: 0.5;
}

paper-slider#pagePlayingProgress::shadow #sliderBar::shadow #activeProgress {
	background-color: #db6835;
}
paper-slider#pagePlayingProgress::shadow #sliderKnobInner {
	background-color: #db6835;
}

paper-dropdown {
    color: black;
}

#pagePlayingTrack, #pagePlayingControls {
	background-color: black;
}
#pagePlayingTrack {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#pagePlayingTrack .subtitle {
	display: inline-block;
	margin-left: 10px;
	opacity: 0.7;
}
#pagePlayingPlaylistCtn {
	overflow: auto;
}
.playlist-item {
	padding: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.playlist-item.selected {
	background-color: rgba(255, 255, 255, 0.15);
}
.playlist-item .title {
	font-size: 1.1em;
}
.playlist-item .artist {
	opacity: 0.7;
}
#pagePlayingControls {
	width: 100%;
	height: 90px;
}
#pagePlayingControls paper-progress {
	width: 100%;
}
#pagePlayingControls #nowPlayingPlaypause::shadow core-icon {
	width: 48px;
	height: 48px;
}
#pagePlaying #pagePlayingCover {
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}
#pagePlaying paper-slider#pagePlayingProgress {
	width: 100%;
}